.course-management-p {
    /* color: #7d5acd; */
    font-size: 30px;
}

.course-container {
    width: 100vw;
    /* background-color: #f0f9ff; */
}

.course-title-container {
    display: flex;
    /* width: 100%; */
    border-radius: 30px;
    /* box-shadow: 0px 0px 10px rgb(212, 212, 212); */
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    /* border: 2px solid #7d5acd; */
    margin: 20px;
}

.course-create-btn {
    padding: 15px 40px;
    border-radius: 50px;
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
    /* border: 2px solid rgb(255, 88, 255); */
    border: none;
    background-color: #e1f5fe;
    color: #0288d1;
    font-weight: 600;
}

/* .course-input1 input {
    border-radius: 100px !important;
} */

.course-input-container {
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 0 20px;
}

.input1, .input2, .input3, .input-4 {
    flex: 1;
    border-radius: 50px;
    /* box-shadow: 0px 0px 7px #6ac4c4; */
  }

.course-card-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.card {
    /* background-color: rgb(205, 223, 255); */
    margin: 50px 20px;
    padding: 30px;
    border-radius: 20px;
    /* box-shadow: 0px 10px 10px black; */
}

.card-title {
    color: #6c757d;
    margin-bottom: 10px;
}

.card-p {
    font-weight: 800;
    margin-bottom: 20px;
}

.card-point {
    font-weight: 800;
    color: gray;
    font-size: 17px;
}

.card-content1 {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.card-content1-p {
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

.card-btn {
    border: none;
    /* background-color: black; */
    color: white;
    padding: 10px 10px ;
    border-radius: 20px;
    font-weight: 700;
}

.card-btn-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.load-more-btn {
    background-color: rgb(255, 206, 141);
    border: none;
    color: white;
    padding: 20px 50px;
    border-radius: 50px;
    font-weight: 900;
    font-size: 15px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.load-more-btn:hover {
    scale: 1.1;
    background-color: rgb(255, 201, 126);
    cursor: pointer;
}

.card1 {
    background-color: #e3f2fd;
    border: 3px solid #ff7eb9;
}

.card2 {
    background-color: #e8f5e9;
    border: 3px solid #7afcff;
}

.card3 {
    background-color: #ffebee;
    border: 3px solid #feff9d;
}

.edit-btn {
    background-color: #2980b9;
}

.assign-btn {
    background-color: #8e44ad;
}

.track-btn {
    background-color: #f39c12;
}

.archive-btn {
    background-color: #27ae60;
}

.course-create-course-container {
    width: 90vw;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 40px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #2c3e50;
    font-weight: 500;
}

.course-create-input-container-flex {
    display: flex;
    /* width: 10; */
    gap: 20px;
}

.form-group {
    margin-bottom: 1.5rem;
    width: 100%;
}

.form-group input {
    width: auto !important;
    /* border: 2px solid black !important; */
}

.isfLabel {
    color: black !important;
}

.course-create-course-container-modules {
    width: 90vw;
    margin: 40px auto;
    background-color: #f5f5f5;
    padding: 40px;
}

.course-module-h3 {
    font-weight: 700;
    padding: 30px 0;  
}

.course-module-flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.add-chapter {
    padding: 15px 30px;
    margin-bottom: 20px;
    background-color: #f39c12;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    color: white;
}

.course-module-input-change-width {
    width: 70% !important;
}

.option-btn {
    padding: 15px 30px;
    margin-bottom: 20px;
    background-color: #27ae60;
    border: none;
    /* border-radius: 40px; */
    font-weight: 600;
    color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-input-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.course-create-btn-container {
    display: flex;
    gap: 20px;
    padding: 0 60px;
    justify-content: end;
}

.save-btn-course {
    background-color: black;
    color: white;
    
}

.save-btn-course:hover {
    background-color: rgb(61, 61, 61);
}

.publish-btn {
    background-color: #f39c12;
    color: white;
}

.publish-btn:hover {
    background-color: #f2b24c;
}

.cancel-btn {
    background-color: #fff;
    color: black;
}

.btn-course {
    padding: 20px 40px;
    border-radius: 50px;
    border: none;
cursor: pointer;
}

.quiz-dltbtn-container {
    display: flex;
    width: 100%;
    justify-content: end;
}